/* .newInfinite{
    background-color: #fff;
 }
 @keyframes newInfinite {
  0%,
  100% {
      transform: translatey(-2.5rem);
    background-color: #fff;
  }
  50% {
      transform: translatey(2.5rem);
    background-color: #003e7d;
  }
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
/* @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.shortcode-table { 
	  	width: 100%; 
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	}

	/* Force table to not be like tables anymore */
	/* .shortcode-table, .shortcode-table thead, .shortcode-table tbody, .shortcode-table th, .shortcode-table td, .shortcode-table tr { 
		display: block; 
	} */
	
	/* Hide table headers (but not display: none;, for accessibility) */
	/* .shortcode-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}  */ 
.carousel  .LoadMoreBtn button
{
     padding-top: -100px;
	 
}
.listremove ul{

	list-style: none;
}

.listremove li{
	font-size: 17px;
	padding: 8px;
}

.listremove li i{

	color: rgb(218, 139, 139);
}
.listremove a
{
	text-decoration: none;
	color: white;
}

/*--------------------------------------Left Box-------*/

.boxNumbar p{
	box-sizing: border-box
}
.elementor-grid-item a{

	padding-right: 10px !important;

}

.elementor-grid-item .youtube{
	border: red !important;
	background-color: red;
	padding: 4px 6px 4px 6px;

}


.elementor-grid-item .facebook{
	border:hsla(240, 55%, 68%, 0.719) !important;
	background-color: hsla(240, 55%, 68%, 0.719);
	padding: 4px 10px 4px 10px;

}

.elementor-grid-item .xing{
	border: black !important;
	background-color: black;
	padding: 4px 8px 4px 8px;

}

.elementor-grid-item .instagram{
	border: rgba(240, 53, 53, 0.89) !important;
	background-color: rgba(240, 53, 53, 0.89);
		padding: 4px 7px 4px 8px;
	
}